<div class="headheader">
    <div class="headitems">
        <%= image_tag("img1", class: "squareimg") %>
        <p class="squaretxt">Eleven Light-Years Away, an Earth-Size Planet That May Be Habitable</p>
    </div>
    <div class="line-separator-vertical3"></div>
    <div class="headitems">
       <%= image_tag("img2", class: "squareimg") %>
        <p class="squaretxt">Dream Chaser Space Plane Aces Glide Test</p>
    </div>
    <div class="line-separator-vertical3"></div>
    <div class="headitems">
       <%= image_tag("img3", class: "squareimg") %>
        <p class="squaretxt">NASA's Rocket to Deep Space May Not Be Ready Until 2020</p>
    </div>
    <div class="line-separator-vertical3"></div>
    <div class="headitems">
       <%= image_tag("img4", class: "squareimg") %>
        <p class="squaretxt">LIGO Detects Fierce Collision of Neutron Stars for The First Time</p>
    </div>
    <div class="line-separator-vertical3"></div>
    <div class="headitems">
       <%= image_tag("img5", class: "squareimg") %>
        <p class="squaretxt">Astronomers Race To Strudy a Mystery Object Form Outside our Solar...</p>
    </div>
</div>