<div class="navigation">
          <div class="div1">
                  <div class="div6">
                  <a href="#" class="menulink"><container class="topbutton5"><%= image_tag("burger", id: "burger") %><span> SECTIONS</span></container></a>
                  </div>
                  <div class="div7">
                  <a href="/" class="menulink"><container class="topbutton3"><%= image_tag("nyt-logo", id: "nyt-logo") %><span> HOME</span></container></a>
                  <a href="#" class="menulink"><container class="topbutton4"><%= image_tag("loupe", id: "loupe") %><span> SEARCH</span></container></a>
                  </div>
            </div>
            <div class="div2">
            <a href="/"><%= image_tag("nyt-name", id: "nyt-name") %></a>
            </div>
            <div class="div3">
                  <div class="div4">
                  <a href="https://www.nytimes.com/subscriptions/inyt/lp87JWF.html?campaignId=4LFJR" class="menulinks"><container class="topbutton1"><span>SUBSCRIBE NOW</span></container></a>
                  <a href="#" class="menulinks"><container class="topbutton2"><span>LOG IN</span></container></a>
                  </div>
                  <div class="div5">
                  <a href="#"><%= image_tag("settings", id: "settings") %></a>
                  </div>
            </div>
</div>